<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-container">
        <h4>Add a new user</h4>
        <%= simple_form_for @user do |f| %>
          <%= f.input :email %>
          <%= f.input :last_name %>
          <%= f.input :first_name %>
          <%= f.submit class: "btn btn-warning"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
