<div class="container">
  <div class="text-center">
    <%= avatar_large(@user) %>
  </div>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <div class="block">
    <p>Email : <%= @user.email %></p>
    <p>Borrowed books : </p>
    <ul>
      <% @user.books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ul>

    <!-- delete user only if no bookings -->
    <% if @user.bookings.blank? %>
      <%= link_to edit_user_path(@user) do %>
        <p><i class="fa fa-pencil-square" aria-hidden="true"></i> Update user</p>
      <% end %>
      <%= link_to user_path(@user), method: :delete, :data => {:confirm => 'Are you sure?'} do %>
        <p><i class="fa fa-minus-square" aria-hidden="true"></i> Delete user</p>
      <% end %>
    <% else %>
      <%= link_to edit_user_path(@user) do %>
        <p><i class="fa fa-pencil-square" aria-hidden="true"></i> Update user</p>
      <% end %>
    <% end %>
  </div>
</div>
