<div class="container">
  <% if @user.photo.present? %>
    <div class="text-center">
      <%= cl_image_tag @user.photo, class: "avatar-large" %>
    </div>
  <% end %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <div class="block">
    <p>Email : <%= @user.email %></p>
    <p>Borrowed books : </p>
    <ul>
      <% @user.books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ul>

    <!-- delete user only if no bookings -->
    <% if @user.bookings.blank? %>
      <%= link_to "Update user", edit_user_path(@user) %> | <%= link_to "Delete user", user_path(@user), method: :delete, :data => {:confirm => 'Are you sure?'} %>
    <% else %>
      <%= link_to "Update user", edit_user_path(@user) %>
    <% end %>
  </div>
</div>
