<div class="container">
  <h1 class= "margin_bottom">Welcome to the library manager!</h1>
  <div class="block">
    <h2><i class="fa fa-book" aria-hidden="true"></i> Our books</h2>
    <p>We have a catalogue of <%= @books.size %> books.</p>
    <p>Currently, <%= @available_books.size %> books are available and <%= @books.size - @available_books.size %> books are being borrowed!</p>
  </div>

  <div class="block">
    <h2><i class="fa fa-users" aria-hidden="true"></i> Our users</h2>
    <p>We have <%= @users.size %> users.</p>
    <p>Currently, <%= @borrowing_users.size %> users are reading our books! </p>
  </div>
</div>
