<div class="container">
  <h1><%= @book.title %></h1>
  <div class="block">
    <p>Author : <%= @book.author %></p>
    <p>Abstract : <%= @book.abstract %></p>

    <!-- if borrowed, link to user -->
    <% if @book.borrowed? %>
      <p>State : Borrowed by <%= link_to @book.user.first_name + " " + @book.user.last_name, user_path(@book.user) %></p>
    <% else %>
      <p>State : Available</p>
    <% end %>

    <!-- delete book only if no bookings -->
    <% if @book.booking.blank? %>
      <%= link_to edit_book_path(@book) do %>
        <p><i class="fa fa-pencil-square" aria-hidden="true"></i> Update book</p>
      <% end %>
      <%= link_to book_path(@book), method: :delete, :data => {:confirm => 'Are you sure?'} do %>
        <p><i class="fa fa-minus-square" aria-hidden="true"></i> Delete book</p>
      <% end %>
    <% else %>
      <%= link_to edit_book_path(@book) do %>
        <p><i class="fa fa-pencil-square" aria-hidden="true"></i> Update book</p>
      <% end %>
    <% end %>
  </div>
</div>
